apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - all.yaml

components:
  - ../../components/seccomp
  - ../../components/security-context
  - ../../components/topology-spread

patches:
  - path: probes.yaml
    target:
      kind: Deployment
      labelSelector: "type=core"
  - path: resources.yaml
    target:
      kind: Deployment
  - path: resources.yaml
    target:
      kind: StatefulSet
  - path: cronjob-resources.yaml
    target:
      kind: CronJob
  - path: cronjob-seccomp.yaml
    target:
      kind: CronJob
