apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - all.yaml

patches:
  # Add unique label to StatefulSet pods
  - path: statefulset-label.yaml
    target:
      kind: StatefulSet
      name: keycloak
  # Replace Bitnami init container command (official image lacks /opt/bitnami/)
  - path: initcontainer-patch.yaml
    target:
      kind: StatefulSet
      name: keycloak
  # Add unique label to main service selector (not headless)
  - path: service-selector.yaml
    target:
      kind: Service
      name: keycloak
