apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - all.yaml

components:
  - ../../components/seccomp
  - ../../components/security-context
  - ../../components/topology-spread
  - ../../components/pin-istio-proxy

images:
  - name: docker.io/library/redis
    newTag: 7.2-alpine

patches:
  - path: probes.yaml
    target:
      kind: Deployment
      labelSelector: "type=core"
  - path: resources.yaml
    target:
      kind: Deployment
  - path: resources.yaml
    target:
      kind: StatefulSet
  - path: redis-security.yaml
    target:
      kind: Deployment
      name: redis-dataset
