apiVersion: apps/v1
kind: Deployment
metadata:
  name: cert-manager
spec:
  template:
    spec:
      containers:
        - name: cert-manager-controller
          # The chart only has livenessProbe - we need to add readinessProbe
          # for AKS Automatic safeguards compliance
          # NOTE: cert-manager controller only exposes /livez endpoint (not /readyz)
          # See: https://github.com/cert-manager/cert-manager/blob/master/pkg/healthz/healthz.go
          # The healthz server uses k8s.io/apiserver/pkg/server/healthz.InstallLivezHandler
          # which only registers /livez. Using /livez for readiness is acceptable here
          # as it checks leader election health which indicates the controller is ready.
          readinessProbe:
            httpGet:
              path: /livez
              port: 9403
              scheme: HTTP
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 3
            failureThreshold: 3
            successThreshold: 1
