apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - all.yaml

patches:
  # Add health probes for AKS safeguards compliance
  - path: deployment-probes.yaml
    target:
      kind: Deployment
      name: minio
  # Add unique label to deployment pods
  - path: deployment-label.yaml
    target:
      kind: Deployment
      name: minio
  # Add unique label to main service selector (not console)
  - path: service-selector.yaml
    target:
      kind: Service
      name: minio
