apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

patches:
  - target:
      kind: Deployment
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: placeholder
      spec:
        template:
          spec:
            securityContext:
              seccompProfile:
                type: RuntimeDefault
  - target:
      kind: StatefulSet
    patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: placeholder
      spec:
        template:
          spec:
            securityContext:
              seccompProfile:
                type: RuntimeDefault
